body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
  background-color:lightpink;
}

h1 {
  font-size: 3em;
  text-align: center;
  color:coral
}

h3 {
  font-size: 1.5em;
  margin: 0.25em 0;
  text-align: center;
  color:mistyrose
}

p {
  font-family: serif;
  font-size: 1em;
}

section {
  padding: 2em 0;
}

#party{
  color:pink;
  background-color: blueviolet;
  font-weight: bold;
}